/* GLOBAL RULES */

:root {
  --primary: #000000;
  --secondary: #006400;
  --box-element: #ffc599;
  --box-shadow: #bf7c4f;
  --box-element-two: #ff69b4;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary);
  padding: 20px;
  color: white;
  font-size: 2rem;
  font-weight: 800;
}

.content__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--box-element);
  border-radius: 1rem;
  border-top-left-radius: 5.4rem;
  padding: 20px;
  min-width: 350px;
  max-width: 450px;
  margin: 30px auto;
}

/* SECTION: PROFILE HEADER */

.profile__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-block-start: 0.1rem; */
}

.image__bird {
  border-radius: 50%;
  filter: drop-shadow(-0.5rem 0.4rem 10px var(--box-shadow));
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.name__box {
  color: var(--secondary);
  margin-inline-start: 30px;
  white-space: nowrap;
}

.card__number {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #006400;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 25%;
}

.bird__name {
  font-size: 1.5rem;
  font-weight: 800;
}

.bird__species {
  font-size: 1rem;
  font-weight: 300;
}

/* SECTION: PROFILE CONTENT */

.profile__text {
  background-color: white;
  border-radius: 0.3rem;
  margin-block: 40px 10px;
  padding: 30px;
}

/* PROFILE: BUTTONS */

.profile__buttons {
  display: flex;
  flex-direction: row;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: white;
  border: none;
  cursor: pointer;
  margin-inline-end: 5px;
  padding: 10px;
  border-radius: 0.3rem;
  height: 30px;
}

.button__specs {
  width: 80%;
}

.button__bookmark {
  width: 10%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--box-element-two);
  border-radius: 0.3rem;
  padding-inline: 5px;
  width: 10%;
}

.button__active {
  background-color: var(--primary);
}

/* SPEC BOX  */

.box__specs {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.9rem;
}

.specs__bird {
  list-style-type: none;
  margin: 5px;
}
